

body{
   background-color: #d2dae2;
   margin: 0 auto;
   max-width: 96%;
   
}

*{
   font-family: 'Acme', sans-serif;
}


header{
   background: url(/images/header-section.jpg) 100% fixed;
   text-align: center;
   height: 170vh;
   padding-top: 110px;
   color: aliceblue;
   
}

.nom{
   margin-top: 15px;
   font-size: 100px;
   
}

.slogan{
   font-style: italic;
   line-height: 2px;
   font-size: 30px;
   padding-bottom: 90px;
}

.slogan2{
   font-style: italic;
   line-height: 10px;
   font-size: 20px;
   margin-top: 35px;
   margin-left: 110px;
}

.destination, .date, .participant{
   background-color: #ef8f1d;
   height: 100px;
   margin-right: 100px;
   margin-left: 100px;
   line-height: 20px;
      
}

#enfant, #adulte, .form-control, .custom-select, #categorie{
   color: #303952;
   background-color: #fcddb9;
   border: none;

}

.form-row{
   color: white;
}

#button{
   margin-top: 15px;
   background-color: #303952;
   color: white;
   border: none;
}


.card-body{
   position: relative;
   box-shadow: #303952;
}

.card-body:hover{
   transform: scale(1.3);
   box-shadow: 1px 5px 0px 1px rgba(26, 26, 85, 0.2);
}

.btn{
   background-color: #ff793f;
   color: white;
   border: none;
   position: relative;
   top: 180px;
   float: left;
}

.btn-long{
   background-color: #ff793f;
   color: white;
   border: none;
   position: relative;
   top: 185px;
   float: left;
   padding: 3px;
}

.card-title{
   background-color: #d2dae2;
   position: relative;
   float: right;
   top: 25px;
}

.card-title-long{
   background-color: #d2dae2;
   position: relative;
   float: right;
   top: 25px;
}

.copyr{
   display: flex;
   height: 10px;
   font-style: oblique;
   justify-content: center;
   
  }

